﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/kendojquery")
</head>
<body>
    <div id="content" class="container body-content">
        <a class="k-button k-button-icontext k-add-button" href="#">
            <span class="k-icon k-i-add"></span>
            Add Transaction
        </a>
        <div id="listView"></div>
    </div>
    <footer>
        <b>Number of Transactions: <span class="transaction-count"></span> Total Spending: <span class="amount-total"></span> Average Amount: <span class="amount-avg"></span></b>
    </footer>

    <script type="text/x-kendo-template" id="viewTemplate">
        @{ Html.RenderPartial("Transactions/TransactionView"); }
    </script>

    <script type="text/x-kendo-tmpl" id="editTemplate">
        @{ Html.RenderPartial("Transactions/TransactionEdit"); }
    </script>

    <script src="~/Scripts/transactions-init.js" type="text/javascript"></script>
</body>
</html>
