﻿#content {
    margin-bottom: 52px;
}

#listView {
    border: none;
}

.transaction-view,
.transaction-edit {
    height: 210px;
    background: url("/Content/images/check_background.jpg") no-repeat;
    background-size: 100%;
    border: none;
    margin-top: 20px;
}

.transaction .edit-buttons {
    float: right;
    top: 20px;
    position: relative;
    right: 20px;
}

.transaction-view span,
.transaction-edit input,
.transaction-edit .k-widget {
    position: relative;
    float: left;
    clear: both;
}

.transaction-view .category {
    top: 35px;
    left: 150px;
}

.transaction-view .payee {
    top: 75px;
    left: 140px;
}

.transaction-view .date {
    top: -17px;
    left: 770px;
}

.transaction-view .amount {
    top: 31px;
    left: 1025px;
    font-size: 20px;
}

.transaction-view .memo {
    top: 70px;
    left: 120px;
}

.transaction-edit .category {
    top: 22px;
    left: 137px;
}

.transaction-edit .payee {
    top: 49px;
    left: 125px;
    width: 727px;
}

.transaction-edit .k-widget.date {
    top: -52px;
    left: 755px;
}

.transaction-edit .k-widget.amount {
    top: -15px;
    left: 905px;
    font-size: 20px;
    width: 195px;
}

.transaction-edit .memo {
    top: 2px;
    width: 998px;
    left: 105px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    border-top: 2px solid grey;
    padding-top: 10px;
    background-color: white;
}

footer span {
    margin-right: 70px;
}