﻿<div class="transaction transaction-edit k-widget">
    <div class="edit-buttons">
        <a class="k-button k-update-button" href="\\#"><span class="k-icon k-i-check"></span></a>
        <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-i-cancel"></span></a>
    </div>
    <input type="hidden" name="Id" data-bind="value:Id" />

    <input id="categoryInput" class="category" data-bind="value:CategoryName" name="CategoryName" required="required" validationMessage="required" />
    <span data-for="CategoryName" class="k-invalid-msg"></span>

    <input type="text" class="k-textbox payee" data-bind="value:Payee" name="Payee" required="required" validationMessage="required" />
    <span data-for="Payee" class="k-invalid-msg"></span>

    <input type="text" class="date" data-bind="value:Date" data-role="datepicker" data-type="date" name="Date" required="required" validationMessage="required" />
    <span data-for="Date" class="k-invalid-msg"></span>

    <input type="text" class="amount" data-bind="value:Amount" data-role="numerictextbox" data-type="number" name="Amount" required="required" validationMessage="required" />
    <span data-for="Amount" class="k-invalid-msg"></span>

    <input type="text" class="k-textbox memo" data-bind="value:Memo" name="Memo" />
</div>

<script src="~/Scripts/transaction-edit-init.js" type="text/javascript"></script>