﻿<div class="transaction transaction-view k-widget">
    <div class="edit-buttons">
        <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-i-edit"></span></a>
        <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-close"></span></a>
    </div>
    <span class="category">#:CategoryName#</span>
    <span class="payee">#:Payee#</span>
    <span class="date">#:kendo.toString(Date, "D")#</span>
    <span class="amount">#:kendo.toString(Amount, "c")#</span>
    <span class="memo">#:Memo#</span>
</div>